.class1
{
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	height: 400px;
	border: 1px solid black;
}

.red
{
	width: 50%;
	height: 50%;
	background-color: red;
}

.green
{
	width: 50%;
	height: 50%;
	background-color: green;
}

.blue
{
	width: 50%;
	height: 50%;
	background-color: blue;
}

.yellow
{
	width: 50%;
	height: 50%;
	background-color: yellow;
}