<div class = "class1">
	<app-little-square class = red [button_color]="'red'" (buttonColorEvent)="getBackGroundColor('red')"></app-little-square>
	<app-little-square class = green [button_color]="'green'" (buttonColorEvent)="getBackGroundColor('green')"></app-little-square>
	<app-little-square class = blue [button_color]="'blue'" (buttonColorEvent)="getBackGroundColor('blue')"></app-little-square>
	<app-little-square class = yellow [button_color]="'yellow'" (buttonColorEvent)="getBackGroundColor('yellow')"></app-little-square>
</div>
